<!-- La inceputul celorlalte template-uri -->

{% extends 'shop/main.html' %} {% load static %} {% block content %}

<style>
    footer {
        display: none;
    }

    header {
        display: none;
    }
</style>

<div class="py-48 bg-gray-200 min-h-screen -mb-5 -mx-4">
    <div class="w-full m-auto bg-white rounded-lg shadow-md sm:my-8 align-middle sm:max-w-lg">
        <div class="bg-gray-50 px-4 pt-5 pb-4 sm:p-6 sm:pb-4 rounded-lg">
            <div class="sm:flex sm:items-start">
                <div class="mt-3 text-center sm:mt-0 sm:ml-4 sm:text-left">
                    <h3 class="text-2xl font-medium leading-6 text-gray-900">
                        Page not found - 404
                    </h3>
                    <div class="mt-2">
                        <p class="text-lg text-gray-500">
                            This page either doesn't exist or is under construction. Return to <a href="{% url 'shop' %}">shopping</a>.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
